body
{
    background-image: url(/Media/Images/bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    
    backdrop-filter: blur(20px);
}

.signup
{
    height: 100vh;
    width: 100vw;

    padding: 50px;
}

    .signup__container
    {
        height: 100%;
        width: 100%;

        background-color: white;

        display: flex;
        gap: 20px;
        
        padding: 20px;

        border: none;
        border-radius: 25px;
    }

        .signup__content
        {
            width: 50%;
            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }

            .title-box
            {
                display: flex;
                flex-direction: column;
                justify-self: center;
                align-items: center;
            }

            .signup__title
            {
                justify-self: start;

                font-family: var(--font-headings);
                font-size: var(--text-4xl);
                font-weight: var(--font-weight);

                color: var(--text);
            }

            .signup__subtitle
            {
                font-family: var(--font-para);
                font-weight: var(--font-weight);
                font-size: var(--text-l);
            }

            .signup__form
            {
                width: 100%;
            }
                .input-container
                {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    padding: 30px;

                    width: inherit;
                    height: max-content;

                    margin-top: 20px;
                }

                    .input__fields
                    {
                        min-height: 60px;
                        width: 100%;

                        padding: 20px;

                        font-family: var(--font-subheadings);
                        font-size: var(--text-m);
                        font-weight: calc(var(--font-weight) + 100);

                        color: #111827;
                        background-color: #e9e9e9;

                        border-radius: 50px;
                        border: none;
                    }

                        .input__fields:active , .input__fields:focus
                        {
                            background-color: #e9e9e9;
                        }


                    .signup-btn
                    {
                        width: 100%;
                    }

        .signup__image
        {
            height: 100%;
            width: 50%;

            background-color: #111827;
            
            border: none;
            border-radius: 10px;

            background-image: url("https://images.unsplash.com/photo-1643083326691-be2e4315dc63?q=80&w=872&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }